.imageBackground {
    width: 100%; 
    height: 100%;
}

.container{
    flex: 1;
    justify-content: center;
    align-items: center;
}

.package {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5;
}

.popupContent {
    background-color: white;
    padding: 22px;
    border-radius: 4px;
    border-color: black;
}

.popupContentText {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    color: black;
}

.popupInputText {
    font-size: 20;
    text-align: center;
    margin-top: 25;
    margin-right: 10;
    border-color: #2979ff;
    border-bottom-width: 1px;
}
  
.colorPicker {
    font-size: 20;
    margin-left: 10;
    margin-right: 10;
}
  
.bottomModal {
    justify-content: flex-end;
    margin: 0px;
}